---
const year = new Date().getFullYear();
---
<footer class="foot">
  <span class="left">
    <svg class="icon sm"><use href="#i-mark"/></svg>
    &copy; Jody {year} &mdash; personal site, written and tended in Obsidian.
  </span>
  <span class="right">
    <a href="/writing">
      <svg class="icon sm"><use href="#i-book"/></svg> Writing
    </a>
    <a href="/llms.txt">
      <svg class="icon sm"><use href="#i-file"/></svg> /llms.txt
    </a>
    <a href="/rss.xml">
      <svg class="icon sm"><use href="#i-rss"/></svg> RSS
    </a>
    <a href="mailto:jody@jodybrewster.dev">
      <svg class="icon sm"><use href="#i-mail"/></svg> Email
    </a>
  </span>
</footer>
